[databases]
{% for name, database in databases.items() -%}
{{ name }} = host={{ database.host }} {% if database.dbname %}dbname={{ database.dbname }}{% else %}auth_dbname={{ database.auth_dbname }}{% endif %} port={{ database.port }} auth_user={{ database.auth_user }}
{% endfor %}
{% for name, database in readonly_databases.items() -%}
{{ name }} = host={{ database.host }} dbname={{ database.dbname }} auth_dbname={{ database.auth_dbname }} port={{ database.port }} auth_user={{ database.auth_user }}
{% endfor %}

[peers]
{% for peer in peers -%}
{{ peer + 1 }} = host={{ base_socket_dir }}{{ peer }} port={{ listen_port }}
{% endfor %}

[pgbouncer]
peer_id = {{ peer_id + 1 }}
listen_addr = *
listen_port = {{ listen_port }}
logfile = {{ log_file }}
pidfile = {{ pid_file }}
stats_users = {{ stats_user }}
{# auth_type = scram-sha-256 #}
auth_type = md5
user = postgres
max_client_conn = 10000
ignore_startup_parameters = extra_float_digits,options
server_tls_sslmode = prefer
so_reuseport = 1
unix_socket_dir = {{ socket_dir }}
pool_mode = {{ pool_mode }}
max_db_connections = {{ max_db_connections }}
default_pool_size = {{ default_pool_size }}
min_pool_size = {{ min_pool_size }}
reserve_pool_size = {{ reserve_pool_size }}
auth_query = {{ auth_query }}
auth_file = {{ auth_file }}
{% if enable_tls %}
client_tls_key_file = {{ key_file }}
client_tls_ca_file = {{ ca_file }}
client_tls_cert_file = {{ cert_file }}
client_tls_sslmode = prefer
{% endif %}
