name: Tests
on:
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: python -m pip install tox
      - name: Run linters
        run: tox -e lint

  unit-test:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: python -m pip install tox
      - name: Run tests
        run: tox -e unit

# TODO change juju version to 2.9.29 before scale-down bug
  integration-standalone:
    name: Integration tests for standalone charm (microk8s)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup operator environment
      # This part sets the model name to "testing" (used in test run and logdump)
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          # This is needed until https://bugs.launchpad.net/juju/+bug/1977582 is fixed.
          bootstrap-options: "--agent-version 2.9.29"
      - name: Run integration tests
        run: tox -e standalone-integration
      - name: Dump logs
        uses: canonical/charm-logdump-action@main
        if: failure()
        with:
          app: pgbouncer-k8s

  integration-backend:
    name: Integration tests for backend relation (microk8s)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup operator environment
      # This part sets the model name to "testing" (used in test run and logdump)
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          # This is needed until https://bugs.launchpad.net/juju/+bug/1977582 is fixed.
          bootstrap-options: "--agent-version 2.9.29"
      - name: Run integration tests
        run: tox -e backend-integration
      - name: Dump logs
        uses: canonical/charm-logdump-action@main
        if: failure()
        with:
          app: pgbouncer-k8s

  integration-legacy-relations:
    name: Integration tests for legacy relations (microk8s)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup operator environment
      # This part sets the model name to "testing" (used in test run and logdump)
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          # This is needed until https://bugs.launchpad.net/juju/+bug/1977582 is fixed.
          bootstrap-options: "--agent-version 2.9.29"
      - name: Run integration tests
        run: tox -e legacy-relation-integration
      - name: Dump logs
        uses: canonical/charm-logdump-action@main
        if: failure()
        with:
          app: pgbouncer-k8s

  integration-scaling:
    name: Integration tests for scaling pgbouncer (microk8s)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup operator environment
      # This part sets the model name to "testing" (used in test run and logdump)
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          # This is needed until https://bugs.launchpad.net/juju/+bug/1977582 is fixed.
          bootstrap-options: "--agent-version 2.9.29"
      - name: Run integration tests
        run: tox -e scaling-integration
      - name: Dump logs
        uses: canonical/charm-logdump-action@main
        if: failure()
        with:
          app: pgbouncer-k8s
